<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تقرير </title>
</head>
<style>
    body{
        background-image: url(card.png);
  
        
    }
    header{
        margin-top: 8mm;
        margin-left: 1px;
        display: block;
    }
    header .left{
        float: left;
        height: 4cm;
        width: 2.5cm;
      
        background-size: cover;
        display: block;
    }
    .rigth{
        float: right;
        margin-top: 2.9cm;
        margin-right: 1.5cm;
        display: block; 

    }
</style>
<body>
    <header>
        <div class="left">
            <img src="images.jpg" style="height:3.9cm; width:2.9cm;" alt="">
        </div>
            <div class="rigth">
            <p>الوحدة</p>
            <p style="margin-top: -4mm;">الامانة</p>
        </div>
        
    </header>
    
</body>
</html>