/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
ccerm/
storage/app/public/orgs/alhammadi/owner_img/1696108505images.jpg
storage/app/public/orgs/alhammadi/البطاقة__1696108505__1689506751_2.pdf
storage/app/public/orgs/alhammadi/البطاقة__1696108505__1689506751_2.pdf
*.pdf
