<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body dir="rtl">
<div class="container">
    <div class="text-center">
        <h2>حافظة النظام الالي</h2>
    </div>
    <div class="text-center">
        <h4>
            بيانات تعريفية
        </h4>
    </div>
    <table class="table table-bordered">
        <tr>
            <td scope="col" class="table-info">الاسم رباعياً</td>
            <td scope="col">هشام احمد علي</td>
            <td scope="col"class="table-info">رقم التلفون</td>
            <td scope="col">774490160</td>
            <td scope="col"class="table-info">اسم الشهرة</td>
            <td scope="col">توب سفن</td>
        </tr>
        <tr>
            <td class="table-info">نوع النشاط</td>
            <td >الكترونيات</td>
            <td class="table-info">العنوان</td>
            <td>الجزائر</td>
            <td class="table-info">الحي</td>
            <td >الصناعي</td>
        </tr>
    </table>

    <div class="text-center">
        <h4>
            بيانات اللوحة الدعائية
        </h4>
    </div>
    <table class="table table-bordered">
        <tr class="table-info">
            <td scope="col" class="table-info">بيانات اللوحة</td>
        </tr>
        <tr class="table-info">
            <td>امامي</td>
            <td></td>
        </tr>
        <tr>
            <td class="table-info">نوع النشاط</td>
            <td>الكترونيات</td>
            <td class="table-info">العنوان</td>
            <td>الجزائر</td>
            <td class="table-info">الحي</td>
            <td>الصناعي</td>
        </tr>
    </table>
</div>
</body>
</html>
